                                                              p       Y       T       H       O       N
                                                                         AI LAB 3-SAKY, AIU, MY

In [1]:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

        4 built-in data types in Python used to store collections of data:
                1. List
                2. Tuple
                3. Set
                4. Dictionary
        All with different qualities and usage.

In [6]:

fruits = ["Apple", "Banana", "Mango"]
print(fruits)

['Apple', 'Banana', 'Mango']

    LISTS
    Lists are used to store multiple items in a single variable. Lists are created using square brackets. 
    List items are ordered, changeable, and allow duplicate values.
    List items are indexed, the first item has index [0], the second item has index [1] etc.

In [8]:
fruits = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [10]:
fruits_list = ["apple", "banana", "cherry"]
print(len(fruits_list))

3

In [11]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

From Python's perspective, lists are defined as objects with the data type 'list'. Even it can contain different types of data.

In [13]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))

<class 'list'>

We have connstructed lists using the third Braces. But here now, we will construct list using list() constructor:

In [14]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [20]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa"]
print(students[3])

Suborna

In [21]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa"]
print(students[1])
print(students[4])

Ahmed
Arifa

In [23]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
print(students[-3])

Suborna

In [24]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
print(students[1:4])

['Ahmed', 'Sherif', 'Suborna']

In [25]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
print(students[:3])

['Saky', 'Ahmed', 'Sherif']

In [26]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
print(students[2:])

['Sherif', 'Suborna', 'Arifa', 'Fariha']

In [28]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
print(students[-5:-3])

['Ahmed', 'Sherif']

In this case of Negetively ranging the first number of range should be bigger magnitude than the second one. Here, 5>3

In [30]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
if "Suborna" in students:
  print("Yes, Suborna is present in the list!")

Yes, Suborna is present in the list!

In [31]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students[2] = "Sumona"
print(students)

['Saky', 'Ahmed', 'Sumona', 'Suborna', 'Arifa', 'Fariha']

In [32]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students[2:4] = ["Sumona", "Surovi", "Homira"]
print(students)

['Saky', 'Ahmed', 'Sumona', 'Surovi', 'Homira', 'Arifa', 'Fariha']

In [33]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students[2:4] = ["Homira"]
print(students)

['Saky', 'Ahmed', 'Homira', 'Arifa', 'Fariha']

In [34]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.insert(2,"Jannat")
print(students)

['Saky', 'Ahmed', 'Jannat', 'Sherif', 'Suborna', 'Arifa', 'Fariha']

In [36]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.append("Jannat")       #To insert an item at the last.
print(students)

['Saky', 'Ahmed', 'Sherif', 'Suborna', 'Arifa', 'Fariha', 'Jannat']

In [37]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.insert(3,"Sauda")
print(students)

['Saky', 'Ahmed', 'Sherif', 'Sauda', 'Suborna', 'Arifa', 'Fariha']

In [41]:
maleStudents = ["Saky", "Ahmad", "Sherif", "Robin", "Mahmud"] 
fStudents = ["Homira", "Jobira", "Jannat", "Sauda", "Fariha", "Suborna"]
maleStudents.extend(fStudents)
print(maleStudents)

['Saky', 'Ahmad', 'Sherif', 'Robin', 'Mahmud', 'Homira', 'Jobira', 'Jannat', 'Sauda', 'Fariha', 'Suborna']

In [43]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.remove("Ahmed")
print(students)

['Saky', 'Sherif', 'Suborna', 'Arifa', 'Fariha']

In [44]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.pop(2)
print(students)

['Saky', 'Ahmed', 'Suborna', 'Arifa', 'Fariha']

In [45]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.pop()
print(students)

['Saky', 'Ahmed', 'Sherif', 'Suborna', 'Arifa']

In [51]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
del students[0]
print(students)

['Ahmed', 'Sherif', 'Suborna', 'Arifa', 'Fariha']

In [58]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
del students[4]
print(students)

['Saky', 'Ahmed', 'Sherif', 'Suborna', 'Fariha']

In [61]:
students = ["Saky", "Ahmed", "Sherif", "Suborna", "Arifa", "Fariha"]
students.clear()
print(students)

[]

In [63]:
students = ["Saky", "Ahmed", "Sherif", "Karim", "Arifa", "Fariha"]
students.sort()
print(students)

['Ahmed', 'Arifa', 'Fariha', 'Karim', 'Saky', 'Sherif']

In [65]:
roll = [10, 50, 5, 100, 90, 0.5, 80, 70.5]
roll.sort()
print(roll)

[0.5, 5, 10, 50, 70.5, 80, 90, 100]

In [66]:
students = ["Saky", "Ahmed", "Sherif", "Karim", "Arifa", "Fariha"]
students.sort(reverse=True)
print(students)

['Sherif', 'Saky', 'Karim', 'Fariha', 'Arifa', 'Ahmed']

In [72]:
roll = [10, 50, 5, 100, 90, 0.5, 80, 70.5]
roll.sort(reverse=True)
print(roll)

[100, 90, 80, 70.5, 50, 10, 5, 0.5]

In [69]:
students = ["Saky", "Ahmed", "Sherif", "Karim", "Arifa", "Fariha"]
students.reverse()
print(students)

['Fariha', 'Arifa', 'Karim', 'Sherif', 'Ahmed', 'Saky']

Reverse and Sorting is actually different. The reverse() method reverses the current sorting order of the elements.

In [70]:
roll = [10, 50, 5, 100, 90, 0.5, 80, 70.5]
roll.reverse()
print(roll)

[70.5, 80, 0.5, 90, 100, 5, 50, 10]

In [83]:
students = ["Saky", "Ahmed", "Sherif", "Karim", "Arifa", "Fariha"]
students.copy()
mylist = list(students)
print(mylist)
print(students)

['Saky', 'Ahmed', 'Sherif', 'Karim', 'Arifa', 'Fariha']
['Saky', 'Ahmed', 'Sherif', 'Karim', 'Arifa', 'Fariha']

In [87]:
name = ["Asif", "Babu", "Siuam"]
age = [19, 21, 23]
gen = ["M"] * 3
bio = name + age + gen
print(bio)

['Asif', 'Babu', 'Siuam', 19, 21, 23, 'M', 'M', 'M']

        TUPLES
        Tuples are used to store multiple items in a single variable.
        A tuple is a collection which is ordered and unchangeable.
        Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [6]:
thistuple = ("apple",)
print(type(thistuple))
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [8]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

A tuple can have different data types. And the fact is since python identify everything as object, here it will show every data types as a tuple.

In [10]:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))

<class 'tuple'>

In [12]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [15]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [21]:
# Check if item exist
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
 print("Yes, 'apple' is in the fruits tuple")

# In python code structure is very important.

Yes, 'apple' is in the fruits tuple

In [23]:
# Replacing any value.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [25]:
# Add items.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [27]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [29]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [31]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [32]:
# Packing a tuple-
fruits = ("apple", "banana", "cherry")  # use first braces to pack a tuple.

In [42]:
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")
(x, y, z) = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [48]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(x, y, *z) = fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [49]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(x, *y, z) = fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [51]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(*x, y, z) = fruits
print(x)
print(y)
print(z)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [53]:
# Join two tuples-
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [57]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 * 2 + tuple2 * 3
print(tuple3 * 2)

('a', 'b', 'c', 'a', 'b', 'c', 1, 2, 3, 1, 2, 3, 1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c', 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [1]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

        SETS
        A set is a collection which is unordered, unchangeable*, and unindexed.
        Sets are written with curly brackets.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

        Duplicates are not allowed!

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [7]:
#The Set() Constructor.
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
 print(x)

banana
apple
cherry

In [12]:
fishes= {"Hilsha", "Rupchanda", "Pangash", "Curp"}
print("Hilsha" in fishes)

True

In [16]:
seasons = {"Summer", "Rainy", "Autumn", "Late Autumn", "Winter"}        #Sets are unordered
seasons.add("Spring")
print(seasons)

{'Late Autumn', 'Summer', 'Autumn', 'Winter', 'Spring', 'Rainy'}

In [18]:
months = {"January", "February", "March", "April", "May"}
months1 = {"June", "July", "August", "September", "October", "November", "December"}
months.update(months1)
print(months)

{'September', 'August', 'July', 'April', 'December', 'October', 'November', 'June', 'January', 'March', 'February', 'May'}

In [ ]:
#Add Any Iterable
"""     In this case a iterable doesn't have to be a set normally. 
        It can be any list, tuple or dictionary, whatever.
"""

In [19]:
week = {"Saturday", "Sunday", "Monday"}
week1 = {"Tuesday", "Wednessday", "Thursday", "Friday"}
week.update(week1)
print(week)

{'Wednessday', 'Saturday', 'Monday', 'Thursday', 'Sunday', 'Friday', 'Tuesday'}

In [22]:
week = {"Saturday", "Sunday", "Monday"}
week1 = {"Tuesday", "Wednessday", "Thursday", "Friday"}
week.update(week1)
print(week)
print(len(week))
print(type(week))

{'Wednessday', 'Saturday', 'Monday', 'Thursday', 'Sunday', 'Friday', 'Tuesday'}
7
<class 'set'>

In [23]:
#Remove Item:
week = {"Saturday", "Sunday", "Monday"}
week1 = {"Tuesday", "Wednessday", "Thursday", "Friday"}
week.update(week1)
week.remove("Sunday")
print(week)

{'Wednessday', 'Saturday', 'Monday', 'Thursday', 'Friday', 'Tuesday'}

In [36]:
days = {"Saturday", "Sunday", "Monday"}
days.remove("Tuesday")
print(days)
#It will show error if the item is not there. Discard() function can be used to escape this problem.

KeyError: 'Tuesday'

In [27]:
#Remove Item:
week = {"Saturday", "Sunday", "Monday"}
week1 = {"Tuesday", "Wednessday", "Thursday", "Friday"}
week.update(week1)
week.discard("Sunday")
print(week)

{'Wednessday', 'Saturday', 'Monday', 'Thursday', 'Friday', 'Tuesday'}

In [37]:
days = {"Saturday", "Sunday", "Monday"}
days.discard("Tuesday")
print(days)

{'Saturday', 'Monday', 'Sunday'}

In [47]:
days = {"Saturday", "Sunday", "Monday"}
x = days.pop()      # It will remove one item. Since set is unordered, we don't know which one will be removed.
print(x)            # It will show which item it will remove.
print(days)         #It will show the left existing items.

Saturday
{'Monday', 'Sunday'}

In [50]:
days = {"Saturday", "Sunday", "Monday"}
days.clear()
print(days)

set()

In [53]:
days = {"Saturday", "Sunday", "Monday"}
del days
print(days)     #this will raise an error because the set no longer exists

NameError: name 'days' is not defined

        Join Two Sets
        There are several ways to join two or more sets in Python.
        You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [55]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

        Keep ONLY the Duplicates
        The intersection_update() method will keep only the items that are present in both sets.
        The intersection() method will return a new set, that only contains the items that are present in both sets.

In [56]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [57]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

        Keep All, But NOT the Duplicates
        The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
        The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'google', 'cherry'}