In [1]:
a="Hello there!"
print(a)

Hello there!

In [2]:
a=  """
    I am S M Asiful Islam Saky.
    I am currently living in Alor Setar, Kedah, Malaysia.
    I am from Bangladesh.
    """
print(a)

a=  '''
    I am S M Asiful Islam Saky.
    I am currently living in Alor Setar, Kedah, Malaysia.
    I am from Bangladesh.
    '''
   
    
print(a)

    I am S M Asiful Islam Saky.
    I am currently living in Alor Setar, Kedah, Malaysia.
    I am from Bangladesh.


    I am S M Asiful Islam Saky.
    I am currently living in Alor Setar, Kedah, Malaysia.
    I am from Bangladesh.

In [3]:
name = "S M Asiful Islam Saky"

print(name[2]) 
print(name[0])  
print(name[7])  
print(name[5])  
print(name[9])

M
S
f
s
l

In [4]:
address = "Alor Setar, Kedah, Malaysia"

print(len(address))

27

In [7]:
string1 = "Hello World"
print("Hello" in string1)

if "World" in string1:
  print("Yes, 'World' is present in the string1")

True
Yes, 'World' is present in the string1

In [6]:
lan = "Python is a high level language"
print("expensive" not in lan)

if "expensive" not in lan:
  print("No, 'extensive' is not present in the lan.")

True
No, 'extensive' is not present in the lan.

In [2]:
b = "Hello there!"
print(b[2:7])

llo t

In [3]:
b = "Hello there!"
print(b[:4])

Hell

In [5]:
b = "Hello there!"
print(b[6:])

there!

In [6]:
b = "Hello there"
print(b[-5:-2])

the

In [7]:
name = "s m asiful islam saky"
print(name.upper())

S M ASIFUL ISLAM SAKY

In [8]:
name = "S M ASIFUL ISLAM SAKY"
print(name.lower())

s m asiful islam saky

In [9]:
a = " Hello there! "
print(a.strip())

Hello, World!

In [10]:
a = "This is a python code"
print(a.replace("p", "s"))

This is a sython code

In [11]:
firstName = "S M Asiful Islam"
lastName = "Saky"

fullName = firstName + " " + lastName
print(fullName)

S M Asiful Islam Saky

In [12]:
name = 'Saky'

welcome_message = 'Welcome, {}!'.format(name)

print(welcome_message)

Welcome, Saky!

In [ ]:
age = 19
txt = "My name is Saky, and I am {}"
print(txt.format(age))

In [13]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [14]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [15]:
languages = ["HTML", "CSS", "JAVASCRIPT", "C", "PYTHON"]
print(languages)

['HTML', 'CSS', 'JAVASCRIPT', 'C', 'PYTHON']

In [16]:
languages = ["HTML", "CSS", "JAVASCRIPT", "C", "PYTHON"]
print(len(languages))

5